{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Welcome to my page</title>
  <meta content="" name="description">
  <meta content="" name="keywords">


  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  
  
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
</head>

<body class="index-page ">
  <header id="header" class="header dark-background d-flex flex-column">
    <i class="header-toggle d-xl-none bi bi-list"></i>
    <div class="profile-img">
      <img src="{% static 'assets/img/1731270741158.jpg' %}" alt="" class="img-fluid rounded-circle">
      <a  href="/" class="logo d-flex align-items-center justify-content-center">
      <h1 class="sitename">Rajeshkumar k</h1></a>
      <div class="social-links text-center">
        <a href="https://wa.me/8248190818" target="_blank" class="whatsapp"><i class="bi bi-whatsapp"></i></a>
        <a href="mailto:rajeshraj8558@gmail.com" target="_blank" class="email"><i class="bi bi-envelope"></i></a>
        <a href="https://www.instagram.com/rajesh.19021/?hl=en" target="_blank" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="https://github.com/RajeshKumark2" target="_blank" class="GitHub"><i class="bi bi-github"></i></a>
        <a href="https://www.linkedin.com/in/rajeshkumar1907?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank" class="linkedin"><i class="bi bi-linkedin"></i></a>
      </div>
    </div>
    <nav id="navmenu align-center" class="navmenu ">
      <ul>
        <li><a href="/" class="active"><i class="bi bi-house navicon"></i>Home</a></li>
        <li><a href="/about"><i class="bi bi-person navicon"></i> About</a></li>
        <li><a href="/skils"><i class="bi bi-menu-button navicon"></i> Skills </a></li>
        <li><a href="/blog"><i class="bi bi-images navicon"></i> Blog</a></li>
        <li><a href="/contact"><i class="bi bi-person-lines-fill navicon"></i> Contact</a></li>
        {% if not request.user.is_authenticated %}
        <li><a href="/auth/signup/"><i class="bi bi-hdd-stack navicon"></i> Signup</a></li>
        <li><a href="/auth/login/"><i class="bi bi-person navicon"></i> Login</a></li>
        {% else %}
        <li><a href="/auth/logout/"><i class="bi bi-person navicon"></i> Logout</a></li>
        {% endif %}        
      </ul>
    </nav>
    <footer id="footer">
      <div class="container">
        <div class="copyright text-center ">
          <p>©<span>Copyright</span><span> All Rights Reserved</span>
              Designed by <a href="/about">Rajeshkumar k</a>   
          </p>
        </div>
      </div>
    </footer>
  </header>

  <main class="main">
    {% block hero %}


    {% endblock hero %}

    {% block body %}
      
    {% endblock body %}



  </main>


  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  {% block scripts %}
  {% endblock scripts %}

  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/typed.js/typed.umd.js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

 
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>